# Natural Language Processing

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
mydata = pd.read_csv('Headlines_5000.csv')

In [ ]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
# Define a function to clean the text
def clean(text):
# Removes all special characters and numericals leaving the alphabets
    text = re.sub('[^A-Za-z]+', ' ', text)
    text = text.lower()
    text = text.split()
    ps = PorterStemmer()
    all_stopwords = stopwords.words('english')
    all_stopwords.remove('not')
    text = [ps.stem(word) for word in text if not word in set(all_stopwords)]
    text = ' '.join(text)
    return text

# Cleaning the text in the text column
mydata['cleaned headline'] = mydata['headline'].apply(clean)
mydata.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,date,time_12hr,time_24hr,headline,category,Unnamed: 5,Unnamed: 6,Cleaned Reviews,cleaned headline,POS tagged,Lemma
0,"FEB 26, 2022",12:13 AM,00:13,Russia-Ukraine war LIVE updates: NATO leaders ...,WORLD,NaN,NaN,Russia Ukraine war LIVE updates NATO leaders m...,russia ukrain war live updat nato leader meet ...,"[(Russia, n), (Ukraine, n), (war, n), (LIVE, n...",Russia
1,"FEB 25, 2022",10:25 PM,22:25,CNBC-TV18 Classroom: What should be your optio...,MARKET,NaN,NaN,CNBC TV Classroom What should be your options ...,cnbc tv classroom option trade exit strategi e...,"[(CNBC, n), (TV, n), (Classroom, n), (options,...",CNBC
2,"FEB 25, 2022",9:47 PM,21:47,Ukraine-Russia conflict: From sunflower oil to...,MARKET,NaN,NaN,Ukraine Russia conflict From sunflower oil to ...,ukrain russia conflict sunflow oil beer consum...,"[(Ukraine, n), (Russia, n), (conflict, n), (su...",Ukraine
3,"FEB 25, 2022",9:41 PM,21:41,IOC to be dropped from Nifty 50 from March 31,Apollo Hospitals to move in,MARKET,NaN,IOC to be dropped from Nifty from March,ioc drop nifti march,"[(IOC, n), (dropped, v), (Nifty, n), (March, n)]",IOC
4,"FEB 25, 2022",9:23 PM,21:23,CBI says NSE Himalayan yogi none other than An...,MARKET,NaN,NaN,CBI says NSE Himalayan yogi none other than An...,cbi say nse himalayan yogi none anand subramanian,"[(CBI, n), (says, v), (NSE, n), (Himalayan, n)...",CBI

In [ ]:
mydata[['cleaned headline','headline']]

,cleaned headline,headline
0,russia ukrain war live updat nato leader meet ...,Russia-Ukraine war LIVE updates: NATO leaders ...
1,cnbc tv classroom option trade exit strategi e...,CNBC-TV18 Classroom: What should be your optio...
2,ukrain russia conflict sunflow oil beer consum...,Ukraine-Russia conflict: From sunflower oil to...
3,ioc drop nifti march,IOC to be dropped from Nifty 50 from March 31
4,cbi say nse himalayan yogi none anand subramanian,CBI says NSE Himalayan yogi none other than An...
...,...,...
4994,sensex surg nearli point expert say reveng con...,"Sensex surges nearly 1,000 points; expert says..."
4995,close bell sensex jump point nifti bajaj finse...,"Closing Bell: Sensex jumps 950 points, Nifty a..."
4996,see structur improv economi,See structural improvement in economy
4997,lupin weigh ventur diagnost space sourc,Lupin weighs venturing into diagnostics space:...
4998,moneycontrol pro investor accumul heidelbergc ...,Moneycontrol Pro: Here’s why investors should ...

In [ ]:
from textblob import TextBlob
# function to calculate subjectivity
def getSubjectivity(headline):
    return TextBlob(headline).sentiment.subjectivity
    # function to calculate polarity
def getPolarity(headline):
  return TextBlob(headline).sentiment.polarity

# function to analyze the reviews
def analysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [ ]:
fin_data = pd.DataFrame(mydata[['headline', 'cleaned headline']])
# fin_data['Subjectivity'] = fin_data['Lemma'].apply(getSubjectivity) 
fin_data['score'] = fin_data['cleaned headline'].apply(getPolarity) 
fin_data['sentiment'] = fin_data['score'].apply(analysis)
fin_data

,headline,cleaned headline,score,sentiment
0,Russia-Ukraine war LIVE updates: NATO leaders ...,russia ukrain war live updat nato leader meet ...,0.118182,Positive
1,CNBC-TV18 Classroom: What should be your optio...,cnbc tv classroom option trade exit strategi e...,0.000000,Neutral
2,Ukraine-Russia conflict: From sunflower oil to...,ukrain russia conflict sunflow oil beer consum...,0.700000,Positive
3,IOC to be dropped from Nifty 50 from March 31,ioc drop nifti march,0.000000,Neutral
4,CBI says NSE Himalayan yogi none other than An...,cbi say nse himalayan yogi none anand subramanian,0.000000,Neutral
...,...,...,...,...
4994,"Sensex surges nearly 1,000 points; expert says...",sensex surg nearli point expert say reveng con...,0.000000,Neutral
4995,"Closing Bell: Sensex jumps 950 points, Nifty a...",close bell sensex jump point nifti bajaj finse...,0.000000,Neutral
4996,See structural improvement in economy,see structur improv economi,0.000000,Neutral
4997,Lupin weighs venturing into diagnostics space:...,lupin weigh ventur diagnost space sourc,0.000000,Neutral
4998,Moneycontrol Pro: Here’s why investors should ...,moneycontrol pro investor accumul heidelbergc ...,-0.050000,Negative

In [54]:
fin_data.to_csv(r'sentiment analysis1.csv')